################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calendar Helper/.vs/Calendar Helper/v16/Server/sqlite3
